.idea
.vscode
**/node_modules
.DS_Store
**/.DS_Store
zentag_logistics/.env
**/.env

**/*/__pychache__/**
*.py[cod]
*.pyc
**/webpack-stats.json
front/webpack-stats.json

venv
.venv
public
send_emails
front/static

**/migrations/**
!**/dist
!**/migrations
!**/migrations/__init__.py
db.sqlite3