{% extends 'base.html' %}

{% block title %}Index{% endblock %}

{% block content %}
    <nav class="flex border-b bg-blue-700 text-gray-200 px-10 py-5 bg-gray-100 justify-between">
        <div class="flex-initial">
            <h2 class="text-2xl font-bold">Sistema Automatizado</h2>
        </div>
        {% if user.is_authenticated %}
            <div class="flex-initial flex items-center text-gray-200 gap-2">
                <a href="{% url 'logout' %}" class="text-sm font-semibold hover:text-gray-500">Cerrar Sesión</a>
            </div>
        {% endif %}
    </nav>
    <div class="bg-gray-200 grid grid-cols-7 gap-4" style="height: calc(100vh - 4.7rem)">
    <div class="col-span-2 border-r border-gray-300 shadow-md bg-white">
        <div class="flex justify-center gap-4 items-center h-28 border-b-2 border-blue-600 mx-6">
            <p class="text-3xl">
                <i class="las la-4xl la-home"></i>
            </p>
            <p class="text-3xl font-medium">
                {{ user.first_name }} {{ user.last_name }}
            </p>
        </div>
    </div>
    <div class="col-span-4 m-4 border border-gray-300 rounded-sm shadow-md bg-white">
        <div class="flex gap-4 items-center rounded-md m-5 px-4 py-2 border border-gray-300 shadow-md">
            <p class="text-3xl">
                <i class="las la-4xl la-globe"></i>
            </p>
            {% if status == 'online' %}
                <p class="text-xl font-semibold text-green-600">Tu dispositivo esta en linea</p>
            {% elif status == 'offline' %}
                <p class="text-xl font-semibold text-red-600">Tu dispositivo esta fuera de linea</p>
            {% endif %}
        </div>
        <div class="flex gap-4 m-5">
            <div class="flex-1 flex-1 border border-gray-300 rounded-sm shadow-md bg-white px-4 py-2">
                <div class="flex items-center gap-2 mt-2 mb-5">
                    <i class="las text-blue-400 text-xs la-lg la-key"></i>
                    <p class="text-base font-semibold text-blue-800">
                        Mis redes
                    </p>
                </div>
                <div class="flex flex-col my-2">
                    <p class="text-xl font-normal text-blue-600">
                        Red privada:
                    </p>
                    <p class="text-xl font-medium text-gray-500">
                        Nombre de red
                    </p>
                </div>

                <button class="uppercase text-xs w-full text-blue-600 border py-2 px-4 rounded-md hover:bg-gray-100">
                    <i class="las la-lg text-blue-600 la-pencil-alt"></i>
                    <span class="font-semibold text-sm">Editar</span>
                </button>
            </div>
            <div class="flex-1 border border-gray-300 rounded-sm shadow-md bg-white px-4 py-2">

                <div class="flex items-center gap-2 mt-2 mb-5">
                    <i class="las la-lg text-blue-600 la-wifi"></i>
                    <p class="text-base font-semibold text-blue-800">
                        Mi modem
                    </p>
                </div>

                {% if messages %}
                    {% for message in messages %}
                        {% if message.tags == 'success' %}
                            <div class="w-full text-green-600 bg-green-600 bg-opacity-20 p-2 rounded-sm">{{ message|linebreaks }}</div>
                        {% else %}
                            <div class="w-full text-red-600 bg-red-600 bg-opacity-20 p-2 rounded-sm">{{ message|linebreaks }}</div>
                        {% endif %}
                    {% endfor %}
                {% endif %}

                <div class="flex flex-col my-2">
                    <p class="text-xl font-normal text-blue-600">
                        Dirección IP:
                    </p>
                    <p class="text-xl font-medium text-gray-500">
                        {{ request.user.modem.ip }}
                    </p>
                </div>

                <div class="flex flex-col my-3">
                    {% if modem_name %}
                        <p class="text-xl font-normal text-blue-600">
                            Modelo:
                        </p>
                        <p class="text-xl font-medium text-gray-500">
                            {{ modem_name }}
                        </p>
                    {% else %}
                        <p class="font-light text-red-600 text-sm">Sin conexión</p>
                    {% endif %}
                </div>

                <div class="my-3">
                    {% if status == 'online' %}
                        <button class="uppercase text-xs w-full text-blue-600 border py-2 px-4 rounded-md hover:bg-gray-100">
                            <i class="las text-sm la-lg la-random"></i>
                            <span class="font-semibold text-sm">lentitud / intermitencia</span>
                        </button>
                    {% endif %}
                </div>

                <div class="my-3">
                    {% if status == 'online' %}
                        <form action="{% url 'reboot' user.modem.pk %}" method="post">
                            {% csrf_token %}
                            <button class="uppercase text-xs w-full text-blue-600 border py-2 px-4 rounded-md hover:bg-gray-100">
                                <i class="las text-sm la-lg la-sync-alt"></i>
                                <span class="font-semibold text-sm">reiniciar modem</span>
                            </button>
                        </form>
                    {% endif %}
                    {% if status == 'offline' %}
                        <button class="uppercase text-xs w-full text-blue-600 border py-2 px-4 rounded-md hover:bg-gray-100">
                            <i class="las la-lg la-users-cog"></i>
                            <span class="font-semibold text-sm">solicitar asisitencia técnica</span>
                        </button>
                    {% endif %}
                </div>

            </div>
        </div>
    </div>
{% endblock %}
